<%- include ('partials/header') %>
<link rel="stylesheet" href="css/styles.css" />
<link rel="stylesheet" href="css/customerpage.css" />
<link rel="icon" href="https://lzd-img-global.slatic.net/g/tps/tfs/TB1PApewFT7gK0jSZFpXXaTkpXa-200-200.png" />
<title>Lazada</title>
<%- include ('partials/header2') %>