<%- include ('partials/header') %>
<title>Shipper Page</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="shipperpage.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="icon" href="https://lzd-img-global.slatic.net/g/tps/tfs/TB1PApewFT7gK0jSZFpXXaTkpXa-200-200.png"/>
<script src="/js/shipper.js"></script>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<%- include ('partials/header2') %>


